@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";



@theme {
    --color-bg-base: #FFFFF0;
    --color-bg-main: #ffffff;
    --color-bg-overlay: #000000CC;

    --color-border-light: #f1f1f1;
    --color-border-medium: #3A35411F;
    --color-border-dark: #333333AD;

    --color-text-main: #222325;
    --color-text-base: #333333AD;
    --color-text-gray: #4A505C;
    --color-text-inverse: #ffffff;
    --color-text-accent: #F64920;
    --color-text-gray-light: #C1C2C4;
    --color-text-bg-light: #F4F5FA;

    --color-btn-primary: #3ECF4C;
    --color-btn-primary-hover: #34B843;
    --color-btn-accent: #E2FCD9CC;
    --color-btn-accent-hover: #C0FAB4;
    --color-btn-alt: #FFBD3A;
    --color-btn-alt-hover: #E6A732;

    --font-sans: "DM sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

body {
    @apply bg-bg-base font-sans;
}

.clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease-in-out;
}

.group:hover .clamp-2 {
    -webkit-line-clamp: unset;
}



@layer base {

    a, button, input {
        @apply transition-all duration-300 ease-in-out;
    }

    a {
        @apply no-underline;
    }

    li {
        @apply list-none;
    }
}