
.heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.form-phone {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

label span {
    color: red;
}

.form-input {
    width: 100%;
    padding: 8px 16px;
    font-size: 14px;
    color: var(--text-main);
    border: 1px solid var(--border-light);
    border-radius: 6px;
}

.password-input {
    width: 100%;
    position: relative;
}

.password-input button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    background: none;
    color: var(--text-gray-light);
    border: none;
    cursor: pointer;
}

.phone {
    width: 122px;
}

.form-input:focus, .form-select:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--border-medium);
}

.forgot-password {
    text-align: end;
}

.forgot-password a {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-gray);
}

.forgot-password a:hover {
    color: var(--text-base);
}

.actions {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100px;
    gap: 16px;
}

.btn {
    padding: 7px 0;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--btn-primary);
    color: var(--text-inverse);

}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
}

.btn-secondary {
    background-color: var(--btn-accent);
    color: var(--btn-primary);
}

.btn-secondary:hover {
    background-color: var(--btn-accent-hover);
}

.divider {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: var(--border-light);
}


.btn-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 8px 0;
    gap: 8px;
    background-color: var(--bg-main);
    border: 1px solid var(--border-light);
    border-radius: 10px;
    cursor: pointer;
}

.btn-social:hover {
    border: 1px solid var(--border-medium);
}

.btn-social span {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-gray);
}

@media (min-width: 768px) {
    .form-input, .forgot-password a, .btn-social span {
        font-size: 16px;
    }

    .container {
        padding: 64px 120px;
    }

    .card {
        max-width: 590px;
        padding: 36px;
        gap: 36px;
    }

    .heading-title {
        font-size: 32px;
    }


    .form {
        gap: 24px;
    }

    .form-group-wrapper, .form-phone, .actions {
        width: 518px;
    }

    .form-group {
        gap: 16px;
    }

    .phone {
        width: 156px;
    }

    .btn {
        padding: 10px 0;
        font-size: 16px;
    }


    .btn-social {
        width: 518px;
        padding: 10px 0;
    }
}